body {
  transition: all 2s ease;
}

html {
  scroll-behavior: smooth;
}
.custom-text {
  color: red !important;
}
.ttnc-ButtonPrimary {
  background: linear-gradient(100.69deg, #702172 -1.65%, #7b53e3 118.12%);
  transition: opacity 0.2s ease;
}
.ttnc-ButtonPrimary:hover {
  opacity: 0.8;
}

.linear-purple {
  background: linear-gradient(
    128deg,
    rgb(118, 9, 151) 0%,
    rgba(155, 122, 228, 1) 100%
  );
}

.services.mb-12 .container.m-auto > div:hover {
  background: linear-gradient(
    128deg,
    rgb(118, 9, 151) 0%,
    rgba(155, 122, 228, 1) 100%
  );
}

.main-grad {
  background: url(../../public/images/banner-bg.jpg) no-repeat 0 0;
}

// .multi-accordion {
//   display: flex;
//   align-items: flex-start;
//   width: 100%;
// }
// .btn_image {
//   width: 50%;
//   margin-top: 150px;
//   min-height: 530px;
// }

.btn_title {
  margin-top: 25px;
}

.btn_image .multi-accordion-header.flex.justify-between.active h2 {
  color: #9b7ae4;
}

.btn_image.relative span > div {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: none;
  border-radius: 100%;
  border: 3px solid #fff;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 8px #fff;
  overflow: hidden;
}

.btn_image .multi-accordion-header.active {
  height: 100px;
  animation: glower 20s linear infinite;
  background: #fff;
}
.btn_image.relative span > div:hover {
  animation: glower 20s linear infinite;
}
.btn_image.relative span > div.box-1 {
  right: auto;
  top: -94px;
  left: 50px;
}
.btn_image.relative span > div.box-2 {
  right: 59px;
  top: -94px;
}

.btn_title .multi-accordion-content {
  text-align: left;
  padding: 0 35px;
}
.btn_title .multi-accordion-content h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0px;
}

.btn_image.relative span > div.box-3 {
  right: -111px;
  top: 80px;

  bottom: auto;
}
.btn_image.relative span > div.box-0 {
  right: auto;
  top: 80px;
  text-align: center;
  line-height: 100px;
  padding: 0;
  margin: 0;

  left: -110px;
}
.btn_image .multi-accordion-header.flex.justify-between h2 {
  padding: 0;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
}

.btn_image.relative span > div > div {
  width: 100%;
  display: inline-block;
}

// .btn_title {
//   width: 60%;
//   padding-left: 35px;
//   position: relative;
//   z-index: 1;
// }
.nc-HomePage {
  overflow: hidden;

  .hero-banner {
    padding-top: 0;
    padding-left: 8rem;
    padding-right: 8rem;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
  }

  .banner-bubble {
    position: absolute;
    transform: rotate(-5deg);
    right: -12px;
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%) rotate(-5deg);
  }
  h1 {
    // font-size: 5.25rem;
    line-height: 5.375rem;
    text-transform: capitalize;
  }
}
.banner-grad {
  position: absolute;
  right: 0;
  z-index: 0;
  opacity: 0.5;
  width: 57%;
}
.services-section {
  height: 60.5vh;
  img {
    width: 100%;
  }
}
.microsoft-card {
  background-color: #4b8ccb;
  width: 379px;
  height: 212px;
  border-radius: 10px;
}
.quote-section {
  background-repeat: no-repeat;
}
.linear-blue {
  background: linear-gradient(100.69deg, #4b8ccb -1.65%, #65bbd0 118.12%);
}
.appointment-form input {
  // background: rgba(255, 255, 255, 0.13);
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 15px;
  margin: 10px;
  width: 100%;
  outline: none;
}
.appointment-form textarea {
  // background: rgba(255, 255, 255, 0.13);
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 15px;
  margin: 10px;
  width: 100%;
  outline: none;
}

.btn_image.relative span {
  width: 470px;
  display: inline-block;
  position: relative;
}
.btn_image.relative span img {
  width: 470px;
}

.appointment-form button {
  background: linear-gradient(100.69deg, #702172 -1.65%, #7b53e3 118.12%);
  width: 100%;
  padding: 15px;
  text-transform: capitalize;
  outline: none;
  color: #fff;
}
input.placeholder-color::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
  font-family: "Hellix Light";
}
textarea.placeholder-color::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
  font-family: "Hellix Light";
}

.banner-bubble_ser {
  position: absolute;
  /* transform: rotate(-5deg); */
  right: -121px;
  bottom: -11%;
  width: 320.11px;
  height: 323.11px;
}

.rectangle_two {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-service {
  position: absolute;
  top: 0;
  left: 0;
  transform: matrix(-0.96, 0.29, 0.29, 0.96, 0, 0);
}
.h1_quotes {
  position: absolute;
  top: -14px;
  left: 3px;
}
.big_black_circle {
  position: absolute;
  width: 379.79px;
  height: 379.79px;
  bottom: -67px;
  transform: rotate(15.5deg);
  right: -35px;
}
.sm_black_circle {
  position: absolute;
  width: 132.58px;
  height: 132.58px;
  left: 84%;
  top: -35px;
  transform: rotate(15.5deg);
}
.sm_white_circle {
  position: absolute;
  width: 99.58px;
  height: 99.58px;
  left: 60%;
  top: -22px;
}
.big_black_circle_vector {
  position: absolute;
  bottom: -21px;
  right: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.linear-blue {
  background: linear-gradient(100.69deg, #4b8ccb -1.65%, #65bbd0 118.12%);
}
.social_icon {
  width: 21px;
  height: 21px;
}
.logo_sm {
  width: 36px;
  height: 36px;
}
.linkedin_logo {
  position: absolute;
  top: 15px;
  left: 15px;
}
.insta_logo {
  position: absolute;
  top: 60px;
  left: 15px;
}
.behance_logo {
  position: absolute;
  top: 105px;
  left: 15px;
}
.contact_submit_btn {
  background: linear-gradient(100.69deg, #702172 -1.65%, #7b53e3 118.12%);
}
.bg-modal {
  background-color: #ffffff17;
}
.modal-form input {
  background: transparent;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  outline: 1px solid #ffffff17;
  border-radius: 9px;
}
.modal-placeholder {
  padding: 5px;
  color: #ffffff17;
  font-family: "Hellix";
}
.dummy_user {
  height: 315px;
  width: 359px;
  padding-top: 25px;
  object-fit: cover;
}

.font-hellix {
  font-family: "Hellix";
}
.font-hellix-light {
  font-family: "Hellix Light";
  font-weight: 600;
}
.font-hellix-bold {
  font-family: "Hellix Bold";
}
.date-box {
  background: rgba(91, 146, 121, 0.14);
  padding: 5px;
  border-radius: 10px;
}
.bg-images-header::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("") 0 0 repeat;
  transform: rotate(-30deg);
}
.bg-images-case-studies {
  background-image: url("../../public/images/smoke-bg-2.svg");
  //background-position: bottom left, top left;
  height: 901px;
  background-size: cover;
}

.active + .multi-accordion-content {
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 25px;
}

.active h2 {
  color: #9b7ae4;
}

.what-we-do-section {
  position: relative;
  background-image: url("../../public/images/what-we-do-bg-section.png");
  background-position: right center;
  height: auto;
  background-size: cover;

  .what-we-do-bottom-bg-img-wrapper {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 80px;

    h1 {
      text-transform: uppercase;
      color: white;
      -webkit-text-fill-color: black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.887934px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.38);
      letter-spacing: 2px;
      font-weight: 800;
      //transform: rotate(-0.8deg);
      line-height: 110.02px;

      span {
        color: #fff;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke-width: 0.887934px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.services {
  display: flex;
  padding: 0 7.875rem;
  gap: 30px;
}

.services .container.m-auto {
  height: 100%;
}
.services .container.m-auto > div {
  height: 100%;
}

.multi-acc-image-box {
  width: calc(100% - 35rem);
  text-align: center;
}

@keyframes glower {
  0% {
    box-shadow: 0 0 0px #fff, -0px 0 10px #f0f, -3px 0 10px #0ff;
  }

  50% {
    box-shadow: 0 0 0px #fff, -0px 0 10px #0ff, -3px 0 10px #f0f;
  }

  100% {
    box-shadow: 0 0 0px #fff, -0px 0 10px #f0f, -3px 0 10px #0ff;
  }
}

@media (max-width: 1400px) {
  .nc-HomePage .hero-banner {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .services {
    display: flex;
    padding: 0 3rem;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .nc-HomePage .hero-banner {
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
  }

  .nc-HomePage .banner-bubble {
    display: none;
  }

  .hero-banner h1 {
    line-height: normal;
    font-size: 20px;
  }
  section {
    padding: 0 1rem;
  }

  .what-we-do-section.bg-black {
    padding: 0;
  }

  .what-we-do-section.bg-black > div:first-child {
    padding: 0 1rem;
  }

  .linear-purple > div {
    padding: 25px 0 0px;
  }

  .btn_image {
    display: none;
  }

  .btn_title {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }

  .appointment-form input {
    margin: 10px 0;
  }

  .appointment-form textarea {
    margin: 10px 0;
  }

  .appointment-form button {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .newsletter > div > div {
    width: 100%;
    margin-bottom: 25px;
  }
  .popup {
    text-align: left;
  }

  .newsletter > div {
    padding: 35px 0;
  }

  .linear-purple.contact-form .flex.justify-between {
    flex-wrap: wrap;
  }

  .banner-bubble_ser {
    display: none;
  }

  .services {
    display: flex;
    padding: 0 0;
    flex-wrap: wrap;
  }

  .linear-purple.contact-form .flex.justify-between h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 18px;
  }
  .footer-box {
    padding: 0 1rem;
  }
}
